.header__button {
  width: 90px;
  height: 36px;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #00D36D;
  color: #00D36D;
  background-color: inherit;
  margin-left: 25px;
  &:hover {
    color: #fff;
    background-color: #00D36D;
  }
}
@media (max-width: 488px) {
  .header__button {
    margin: 0;
  }
}
@media (max-width: 408px) {
  .header__button-wrap {
    display: none;
  }
}