@font-face {
	font-family: 'Geometria';
	src: url('./geometria/Geometria.woff'),
	url('./geometria/Geometria.woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('./geometria/Geometria-Medium.woff'),
	url('./geometria/Geometria-Medium.woff2');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('./geometria/Geometria-Bold.woff'),
	url('./geometria/Geometria-Bold.woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}